*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.image1{
        background-image: url("img1.avif");
        height: 100vh;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
}
.nav{
    margin-top: -40%;
    font-family: cursive;
    position: fixed;
    z-index: 1;
}
.navbar a, a:visited{
    text-decoration: none;
    color: black;
}
.navbar{
    display: flex;
    column-gap: 20px; 
    padding-top: 4%;  
    justify-content: center;   
} 
h1{
    text-align: center;
}
.Playful{
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-around;
    row-gap: 2%;
    border-radius: 10px;
    background: rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
} 
h2{
    font-family: cursive;
}
.content{
    padding-right: 10%;
    padding-left: 2%;
    font-family: cursive;
}
img{
   margin-left: 2%;
   border: 10px;
}
.image2{
    background-image: url("img4.avif");
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
.Sleepy{
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-around;
    row-gap: 2%;
    border-radius: 10px;
    background: rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    /* margin-top: -20%; */
} 
.content1{
    /* padding-right: 10%; */
    padding-left: 5%;
    font-family: cursive;
}
img{
    /* margin-left: 2%; */
    margin-right: 2%;
    border: 10px;
}
.image3{
    background-image: url("img3.avif");
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
} 
.Curious{
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-around;
    row-gap: 2%;
    border-radius: 10px;
    background: rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    /* margin-top: -20%; */
} 
.content{
    padding-right: 10%;
    padding-left: 2%;
    font-family: cursive;
}
img{
    margin-left: 2%;
   border: 10px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 2.5%;
    font-family: cursive;
}
@media screen and (width<=576px){
    /* .image1{
        height: 100vh;
    } */
    .nav{
        margin-top: -90%;
        font-family: cursive;
        position: fixed;
    }
    .Playful{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 50%;
    } 
    .content{
        padding-left: 25%; 
        font-family: cursive;
    }
    img{
       width: 50%;
       height: 30%;
       border: 10px;
    }
    .Sleepy{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 50%;
    } 
    .content1{
        margin-left: 17%;
        margin-right: 17%;
    }
    .Curious{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 50%;
    } 
    .content2{
        padding-left: 25%; 
        font-family: cursive;
    }
}